<!DOCTYPE HTML>
<!-- O layout base dessa pagina fica em layout/layout.html -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<section layout:fragment="content">
	<!-- o conteúdo da página vai aqui -->
	
	
	<div class="container">
		<div class="row">
			<div class="card col s6">
				<h5>Alunos</h5>
				<table class="striped">
					<thead>
						<tr>
							<th>Login</th>
							<th>Nome</th>
							<th>Opcoes</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aluno : ${alunosAll}">
							<td th:text="${aluno.login}"></td>
							<td th:text="${aluno.nome}"></td>
							<td><a class="btn-floating"
								th:href="@{${'/turma/'+turma.id+'/alocarAluno/'+aluno.id}}">
								<i class="material-icons">fast_forward</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="card col s6">
				<h5>Alocados</h5>
				<table class="striped">
					<thead>
						<tr>
							<th>Matricula</th>
							<th>Nome</th>
							<th>Opcoes</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alunoAloc : ${turma.alunos}">
							<td th:text="${alunoAloc.login}"></td>
							<td th:text="${alunoAloc.nome}"></td>
							<td><a class="btn-floating"
								th:href="@{${'/turma/'+turma.id+'/desalocarAluno/'+alunoAloc.id}}">
								<i class="material-icons">fast_rewind</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
</html>
