<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>SIPPA2.0</title>
<link rel="stylesheet" href="../materialize/css/materialize.min.css" />
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />

<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="#f5f5f5 grey lighten-4">
	<nav class="teal">
		<div class="nav-wrapper">
			<a href="/adm" class="brand-logo center">SIPPA2.0</a>
		</div>
	</nav>
	<div class="container">
		<div class="row white">
			<h5 class="teal-text">Disciplinas</h5>
			<table class="highlight">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nome</th>
						<th>Professor</th>
						<th>Periodo</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="disciplina : ${disciplinas}">
						<td th:text="${disciplina.codigo}"></td>
						<td th:text="${disciplina.nome}"></td>
						<td th:text="${disciplina.professor}"></td>
						<td th:text="${disciplina.periodo}"></td>
						<td><a class="btn-floating"
							th:href="@{/disciplinas/lista/alocar}"><i
								class="material-icons">class</i> </a><a class="btn-floating"
							th:href="@{${'/disciplinas/lista/atualizar/'+disciplina.id}}"><i
								class="material-icons">edit</i> </a> <a class="btn-floating"
							th:href="@{${'/disciplinas/lista/remover/'+disciplina.id}}"><i
								class="material-icons">delete</i> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fixed-action-btn">
		<a href="cadastrarDisciplina"
			class="btn-floating btn-large waves-effect waves-light red pulse"><i
			class="material-icons">add</i></a>
	</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../materialize/js/materialize.min.js"></script>

</body>
</html>