<!DOCTYPE HTML>
<!-- O layout base dessa pagina fica em layout/layout.html -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<section layout:fragment="content">

	<!-- o conteúdo da página vai aqui -->

	<div class="container">
		<div class="row white">
			<h5 class="teal-text center">Disciplinas</h5>
			<table class="highlight">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nome</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="disciplina : ${disciplinas}">
						<td th:text="${disciplina.codigo}"></td>
						<td th:text="${disciplina.nome}"></td>
						<td><a class="btn-floating"
							th:href="@{${'/disciplina/editar/'+disciplina.id}}"><i
								class="material-icons">edit</i> </a> <a class="btn-floating"
							th:href="@{${'/disciplina/remover/'+disciplina.id}}"><i
								class="material-icons">delete</i> </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="fixed-action-btn">
			<a th:href="@{/disciplina/cadastrar}"
			class="btn-floating btn-large waves-effect waves-light red pulse">
			<i class="material-icons">add</i>
		</a>
	</div>
</section>
</html>